/* reset */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F0EBF8;
}

h1, h2, h3, h4, h5 {
	color: #333;
}

p, label {
	color: #444;
}

input {
	border: 1px solid transparent;
	border-bottom: 1px solid #CCC;
	padding: 10px 0px;
}

input[type=text], input[type=number], input[type=date], input[type=file] {
	width: 400px;
}

textarea {
	padding: 10px 5px;
	width: 400px;
}

/* Cabeçalho da página */
.header {
	height: 160px;
	padding: 20px;
	background-color: #673AB7;
}

.header h3 {
	color: #FFF;
	margin-top: 0;
}