/* reset */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F0EBF8;
}

h1, h2, h3, h4, h5 {
	color: #333;
}

p, label {
	color: #444;
}

input {
	border: 1px solid transparent;
	border-bottom: 1px solid #CCC;
	padding: 10px 0px;
}